.card {
    border-radius: 4px;
    box-shadow: 0px 3px 6px #00000029;
}

.gradient-blue {
    background: transparent linear-gradient(180deg, #56CCF2 0%, #2F80ED 100%) 0% 0% no-repeat padding-box;
}

.gradient-black {
    background: transparent linear-gradient(180deg, #414345 0%, #232526 100%) 0% 0% no-repeat padding-box;
}